{% extends "layout.html.twig" %}

{% block main %}
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">A propos</h1>
          </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ante dui, posuere eget metus vel, convallis varius diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus nec rhoncus dolor. Morbi auctor massa sit amet eros rhoncus feugiat. Nullam consequat dictum ante, vel pharetra ligula tincidunt auctor. Cras at erat id nulla sollicitudin porttitor in at sapien. Phasellus viverra euismod arcu, viverra sagittis libero auctor in. Nullam nec nibh vitae urna congue dictum vitae vel justo. Ut venenatis tempor nulla, nec egestas ipsum. Mauris vitae tortor felis. Etiam lacinia neque a metus gravida, id ornare risus auctor. Fusce tincidunt massa semper nulla ultricies laoreet.</p><p>
<br>
Suspendisse vitae tellus vel lacus volutpat semper. Sed ultricies quam nec ipsum ornare eleifend. Suspendisse quis venenatis orci. Vivamus sagittis tempor scelerisque. Duis ornare metus non metus consectetur tristique. In ornare aliquam dolor, mattis iaculis neque rutrum nec. Suspendisse sed lacus vehicula, tempus nibh vel, bibendum risus. Praesent felis lorem, vehicula sit amet mi a, maximus venenatis nisi. Cras ac mauris sodales arcu dictum lacinia elementum ac lacus.</p><p>
<br>
Duis blandit augue et dignissim condimentum. Suspendisse suscipit porttitor neque, condimentum fringilla risus pulvinar vel. Aenean varius lacus vitae nulla posuere, sed lacinia dolor gravida. Morbi luctus leo augue, sit amet fringilla ante accumsan ut. Integer commodo lectus vitae justo fermentum, in semper nisl tincidunt. Donec at mauris at est auctor bibendum. Nullam lobortis vehicula nisl, id pretium sem viverra sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras eu turpis tempor, semper lacus in, mattis ante. Ut volutpat malesuada sapien, eget egestas nisl vehicula sed. Donec dictum efficitur dapibus. Donec viverra bibendum sem et lacinia. Morbi tincidunt, velit ac consequat maximus, nisl mi imperdiet metus, sit amet blandit eros turpis tincidunt eros. Fusce pharetra ultrices turpis, id semper arcu ullamcorper sed.</p>
{% endblock %}

{% block title %}
    A propos - {{ parent() }}
{% endblock %}
