{% extends "idea/form.html.twig" %}


{% block formTitle %}Modifier une idée{% endblock %}

{% block formSubmit %} 
            <button type="submit" class="btn btn-warning btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span class="text">Modifier</span>
            </button>
            {% endblock %}

{% block title %}
    Modifir Idée -
    {{ parent() }}
{% endblock %}
